@import "tailwindcss";
@import "./base.css";

@layer base {
    body {
        width: 50ch;
        max-width: 100%;
        padding: 8px;
        margin: 0 auto;
        overflow-x: visible;
    }

    main {
        position: relative;
    }

    h1,
    h2 {
        font-weight: 400;
        font-style: italic;
    }

    h1 {
        font-size: var(--font-size-xl);
    }

    h2 {
        font-size: var(--font-size-lg);
    }

    h1,
    h2,
    p,
    img,
    blockquote {
        margin-top: 1em;
        text-wrap: pretty;
    }

    blockquote {
        margin-left: 1em;
        font-style: italic;
    }

    p,
    blockquote {
        hyphens: auto;
    }

    a {
        hyphens: none;
    }
}

@layer utilities {
    .small-caps {
        font-variant-caps: petite-caps;
        font-size: 1.1em;
        line-height: 1;
    }

    .arrow-indent {
        position: relative;
        &::before {
            content: "";
            background: url("/public/cover/icon_transparent.webp");
            background-size: 100%;
            background-position: 50% 50%;

            position: absolute;
            top: -1em;
            left: -2em;
            width: 1.5em;
            height: 1.5em;
        }
    }

    .subtitle-yellow {
        color: var(--yellow);
        background-color: black;

        a&:hover,
        &::selection {
            color: black;
            background-color: var(--yellow);
        }
    }
}

@layer components {
    #carousel {
        cursor: e-resize;
    }
}
