@import "tailwindcss";

@layer base {
    :root {
        overscroll-behavior: none;
        --margin: 1.5rem;
    }

    * {
        box-sizing: border-box;
        padding: unset;
        margin: unset;
        font-family: "Times New Roman", Times, serif;
        font-style: italic;
    }

    img {
        width: 100%;
        display: block;
        user-select: none;
    }

    a {
        text-decoration: underline;
    }

    ::selection,
    a:hover {
        background-color: rgb(212, 231, 245);
    }

    p {
        text-wrap: balance;
    }
}

@layer utilities {
    .stack {
        position: relative;
        aspect-ratio: 3 / 2;

        & > * {
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .show-on-hover,
    .show-on-move,
    .show-on-scroll,
    .visible-after-ai,
    .show-after-scroll-past {
        opacity: 0;
    }

    .stack:hover .show-on-hover {
        opacity: 1;
    }

    .stack:hover .hide-on-hover {
        opacity: 0;
    }
}

header {
    z-index: 999;
    position: fixed;
    top: calc(var(--margin) / 4);
    left: calc(var(--margin) / 2);
}

footer {
    z-index: 999;
    position: fixed;
    bottom: calc(var(--margin) / 4);
    right: calc(var(--margin) / 2);
}

#subtitle-container {
    position: fixed;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 999;
}

#subtitle {
    display: none;

    font-size: 1.5rem;
    line-height: 1;
    text-align: center;
    text-wrap: balance;

    background-color: rgb(212, 231, 245);
    background-color: white;

    /* padding-right: 0.25em; */
    /* padding: 0.25em 0.5em 0.25em 0.25em; */
    /* padding: 0 0.25em; */

    &::after, &::before {
        content: "\0000a0\0000a0";
    }

    &::selection {
        background-color: black;
        color: white;
    }
}

section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 8px;
    padding: 8px;
    margin: 25svh 0;

    /* &, & * {
            @apply transform-gpu;
        } */
}

#title-wrapper {
    min-height: 95svh;
    display: flex;
    justify-content: center;
    align-items: center;

    section#title {
        width: 100%;
        margin: unset;
        margin-bottom: 12rem;
        justify-items: center;
        align-items: center;

        img {
            grid-column: 5;
            width: 1rem;
            margin-bottom: 8rem;
        }

        h1 {
            grid-column: 1 / 13;
            font-size: 4vw;
            text-align: center;
        }

        h3 {
            grid-column: 1 / 13;
            font-size: 1.5vw;
            margin-top: -2rem;
            text-align: center;
        }
    }
}

section#oldenough {
    margin-top: 0;

    img {
        grid-column: 2 / 10;
    }

    p {
        text-align: center;
        margin-top: 50%;
        grid-column: 10 / 13;
        padding: 0 2rem;
    }
}

@media (max-width: 1024px) {
    #oldenough {
        img {
            grid-column: 2 / 10;
        }

        p {
            grid-column: 8 / 12;
        }
    }
}

section#crows {
    img {
        grid-column: 4 / 10;
    }

    p {
        grid-column: 8 / 10;
        grid-row: 2;
        text-align: right;
        margin-top: 50%;
    }
}

section#gulls {
    p {
        grid-column: 4 / 6;
        margin-bottom: 40%;
    }

    img {
        grid-row: 2;
        grid-column: 7 / 13;
    }
}

section#thosewerethedays {
    p {
        text-align: center;
        grid-column: 6 / 8;
    }
}

section#soar1 img {
    grid-column: 5 / 9;
}

section#reflection {
    grid-template-rows: 1fr 1fr;
    row-gap: 4px;

    p {
        margin-top: 100%;
        grid-column: 2 / 4;
        text-align: right;
    }

    img:first-of-type {
        grid-column: 7 / 12;
        grid-row: 1;
    }

    img:last-of-type {
        grid-column: 7 / 12;
        transform: translateX(-7%);
        grid-row: 2;
    }
}

section#magpies {
    align-items: flex-end;

    img {
        grid-column: 3 / 7;
    }

    p {
        margin-bottom: -50%;
        grid-column: 10 / 12;
    }
}

section#now {
    margin: 50svh 0;
    height: 100svh;
    align-items: center;

    .switcher {
        grid-column: 6 / 12;
        position: relative;
        aspect-ratio: 3 / 2;

        img {
            position: absolute;
            top: 0;
            left: 0;
        }

        img.old {
            transform: scale(0.9716713881) translate(-8.16326531%, 15.75492341%);
        }
    }

    img.new-sidekick {
        grid-column: 2 / 6;
        margin-top: 80%;
    }

    .new {
        opacity: 0;
    }
}

section#arentsoeasy {
    row-gap: 50svh;
    margin-top: 50svh;

    p {
        text-align: center;
        grid-column: 6 / 8;
    }

    img {
        grid-column: 7 / 13;
    }
}

section#stillgetlucky {
    row-gap: 50svh;

    p {
        grid-column: 10 / 12;
    }

    img {
        grid-column: 4 / 9;
    }
}

section#mostlyempty {
    row-gap: 50svh;

    p {
        grid-column: 10 / 12;
    }

    & > div {
        grid-column: 3 / 12;
        padding-left: 6.6%;
    }

    img.glitch {
        opacity: 0;
    }
}

section#hardlypoetic {
    p {
        grid-column: 8 / 10;
    }

    img {
        grid-column: 3 / 7;
    }
}

section#hidingdisguises {
    row-gap: 20svh;
    p {
        grid-column: 7 / 10;
    }

    img#hiding {
        grid-column: 9 / 13;
        grid-row: 2;
    }

    img#disguises {
        grid-column: 3 / 7;
        grid-row: 3;
    }

    p:last-of-type {
        grid-row: 4;
    }
}

section#nonotwhatusetobe {
    row-gap: 50svh;
    p {
        grid-column: 4 / 6;
    }

    img {
        grid-column: 1 / 12;
    }
}

section#goneplenty {
    div.img-col {
        grid-column: 2 / 8;
    }

    img.pigeon {
        opacity: 0;
    }

    div.text-col {
        grid-column: 10 / 13;
    }
}

#background {
    width: 100%;
    height: 100svh;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    inset: 0;
    pointer-events: none;

    --border-width: 1px;
    --border-color: #2f2f3120;

    background: linear-gradient(
            90deg,
            transparent calc(4px - var(--border-width) / 2),
            var(--border-color) calc(4px - var(--border-width) / 2),
            var(--border-color) calc(4px + var(--border-width) / 2),
            transparent calc(4px + var(--border-width) / 2)
        ),
        linear-gradient(
            90deg,
            transparent calc(25% + 2px - var(--border-width) / 2),
            var(--border-color) calc(25% + 2px - var(--border-width) / 2),
            var(--border-color) calc(25% + 2px + var(--border-width) / 2),
            transparent calc(25% + 2px + var(--border-width) / 2)
        ),
        linear-gradient(
            90deg,
            transparent calc(50% - var(--border-width) / 2),
            var(--border-color) calc(50% - var(--border-width) / 2),
            var(--border-color) calc(50% + var(--border-width) / 2),
            transparent calc(50% + var(--border-width) / 2)
        ),
        linear-gradient(
            90deg,
            transparent calc(75% - 2px - var(--border-width) / 2),
            var(--border-color) calc(75% - 2px - var(--border-width) / 2),
            var(--border-color) calc(75% - 2px + var(--border-width) / 2),
            transparent calc(75% - 2px + var(--border-width) / 2)
        ),
        linear-gradient(
            90deg,
            transparent calc(100% - 4px - var(--border-width) / 2),
            var(--border-color) calc(100% - 4px - var(--border-width) / 2),
            var(--border-color) calc(100% - 4px + var(--border-width) / 2),
            transparent calc(100% - 4px + var(--border-width) / 2)
        );

    /* without this the grid line on the left doesn't render fully for some reason?? */
    background-color: white;
}

@media (max-width: 1024px) {
    #background {
        background: linear-gradient(
                90deg,
                transparent calc(4px - var(--border-width) / 2),
                var(--border-color) calc(4px - var(--border-width) / 2),
                var(--border-color) calc(4px + var(--border-width) / 2),
                transparent calc(4px + var(--border-width) / 2)
            ),
            linear-gradient(
                90deg,
                transparent calc(50% - var(--border-width) / 2),
                var(--border-color) calc(50% - var(--border-width) / 2),
                var(--border-color) calc(50% + var(--border-width) / 2),
                transparent calc(50% + var(--border-width) / 2)
            ),
            linear-gradient(
                90deg,
                transparent calc(100% - 4px - var(--border-width) / 2),
                var(--border-color) calc(100% - 4px - var(--border-width) / 2),
                var(--border-color) calc(100% - 4px + var(--border-width) / 2),
                transparent calc(100% - 4px + var(--border-width) / 2)
            );
    }
}
